body {
    background-color: #1a1a28;
    overflow: hidden;

    color: #f5f5dc;
}

.footer {
    position: absolute;

    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}
